<head>

</head>

<body>
<h1>TheGossipProject</h1>


<h2>Tu as déjà un compte ? Connecte toi !</h2>
<div class="formulaire">
  <%= form_for User.new, url: sessions_path do %>
    <%= label_tag :email, 'Email' %>
    <%= text_field_tag :email %>
    <br /> <br />

    <%= label_tag :password, 'Mot de passe' %>
    <%= text_field_tag :password %>
    <br /> <br />

    <%= submit_tag "Se connecter" %>
  <% end %>

  <%= link_to "Pas encore de compte ? S'inscrire", new_user_path, :class=>"nav-link" %>

</div>

</body>
