<head>

</head>

<body>
<h1>TheGossipProject</h1>
<h2>Créer ton gossip en direct !</h2>

<div class="formulaire">
<%= form_for Gossip.new, url: the_gossip_project_index_path do %>
  <%= label_tag :title, 'Titre' %>
    <%= text_field_tag :title %>
    <br /> <br />

    <%= label_tag :content, 'Contenu' %>
    <%= text_area_tag :content %>
    <br /> <br />

    <%= submit_tag "Créer Gossip" %>

<% end %>


</div>

</body>
