<head>

</head>


  <h1>TheGossipProject</h1>

<div class="button">
  <%= link_to "Créer un Gossip! +", new_the_gossip_project_path, :class=>"btn btn-outline-success my-2 my-sm-0" %>
</div> 

  <p> --> Auteur : <p> 
  <p> <%= @element.user.first_name %> </p>
  <p> --> Titre : <p>
  <p> <%= @element.title %> </p>
  <p> --> Contenu :</p>
  <p> <%= @element.content %> </p>
  <p> --> Ville de l'auteur :</p>
  <p> <%= @element.user.city.name %> </p>
  <%= link_to "En savoir plus sur la ville", city_path %>

<div class="link">
  <%= link_to "Revenir à la page d'accueil", the_gossip_project_index_path, :class=>"return-link" %>
</div>
  </br>
<div class="link2">
  <%= link_to "En savoir plus sur l'auteur", user_path, class:"return-link2" %>
</div>
