<head>

</head>

<body>
<h1>TheGossipProject</h1>

<h2>Si tu n'as pas encore de compte, créer ton profil utilisateur dès maintenant !</h2>

<div class="formulaire">
<%= form_for User.new, url: users_path do %>
  <%= label_tag :first_name, 'Prénom' %>
  <br /> <br />
    <%= text_field_tag :first_name %>
    <br /> <br />
    
  <%= label_tag :last_name, 'Nom de famille' %>
  <br /> <br />
    <%= text_field_tag :last_name %>
    <br /> <br />

  <%= label_tag :age, 'Age' %>
  <br /> <br />
    <%= text_field_tag :age %>
    <br /> <br />

  <%= label_tag :description, 'Description' %>
  <br /> <br />
    <%= text_area_tag :description %>
    <br /> <br />

  <%= label_tag :email, 'Email' %>
  <br /> <br />
    <%= text_field_tag :email %>
    <br /> <br />

    <%= label_tag :password, 'Mot de passe' %>
    <br /> <br />
    <%= text_field_tag :password %>
    <br /> <br />

    <%= label_tag :password_confirmation, 'Confirmation' %>
    <br /> <br />
    <%= text_field_tag :password_confirmation %>
    <br /> <br />

    <%= submit_tag "S'inscrire" %>

<% end %>

    <a class="nav-link" href="http://localhost:3000/sessions/new" id="navbarDropdown" role="button">
      Déjà un compte ? Se connecter
    </a>
</div>



</body>
