<head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="http://localhost:3000/the_gossip_project/new">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Créer un Gossip!</button>
  </a>
</nav>
</head>


  <h1>TheGossipProject</h1>
  <p> --> Auteur : <p> 
  <p> <%= @user.first_name %> <%= @user.last_name %> </p>
  <p> --> Description : <p>
  <p> <%= @user.description %> </p>
  <p> --> Email :</p>
  <p> <%= @user.email %> </p>
  <p> --> Age :</p>
  <p> <%= @user.age %> </p>
  <p> --> Ville :</p>
  <p> <%= @user.city.name %> </p>

<div class="link">
  <a class="return-link" href="http://localhost:3000/the_gossip_project">Revenir à la page d'accueil</a>
</div>
  </br>
<div class="link2">
  <%= link_to "Retourner au gossip", the_gossip_project_path, class:"return-link2" %>
</div>